.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: red;
  border-radius: 25px;
}

.container-app {
  display: flex;
  width: 800px;
  height: 800px;
}
